:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;
  --beyaz-gri:#D9D9D9;
  --beyaz: #ffffff;
  --siyah: #000000;
  --beyaz-sari:#ffeecc;
  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: var(--bej);
  display: flex;
  flex-flow: column;
}
