:root {
  --sari: #fdc913;
  --acik-gri: #5f5f5f;
  --koyu-gri: #292929;
  --kirmizi: #ce2829;
  --bej: #faf7f2;
  --beyaz-gri:#D9D9D9;
  --beyaz: #ffffff;
  --siyah: #000000;
  --beyaz-sari:#ffeecc;
  min-height: 100vh;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  background: var(--bej);
  display: flex;
  flex-flow: column;
}

/*Banner section start*/
.image-area {
  height: 1080px;
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.main-banner-image {
  min-height: 1080px;
  width: auto;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-header {
  width: 363px;
  height: 50px;
  margin: 56px auto;
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0;
  color: var(--beyaz);
}
.banner-text-area {
  width: 586.67px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-text-area a {
  width: 193.27px;
  height: 56px;
  border-radius: 50px;
  background: var(--sari);
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 56px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  color: var(--koyu-gri);
  margin-top: 13.27px;
}
.banner-text-area .banner-text {
  width: 767.64px;
  height: 230px;
  text-align: center;
}

.banner-text-area .banner-text p {
  width: 767.6384887695312px;
  height: 195px;

  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 86px;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0;
  color: var(--beyaz);
}
.banner-text-area .banner-text span {
  width: 324px;
  height: 46px;

  font-family: "Satisfy";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: var(--sari);
}

.main-banner-options {
  height: 94px;
  background: var(--beyaz);
  display: flex;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}
.main-banner-options ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  max-width: 1068px;
  width: 100%;
  justify-content: space-between;
}
.main-banner-options li {
  height: 42px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.main-banner-options span {
  height: 31px;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  text-align: center;
}
/*Banner section end*/

/*Content section start*/

/*Promotions start*/
.content-section {
  display: flex;
  flex-direction: column;
   background: #FAF7F2;
;
}
.content-section .promotion-area {
  display: flex;
  flex-direction: row;
  margin: 68px auto;
  width: 1072px;
  height: 449px;
  gap: 11px;
  /* flex-wrap: wrap;*/
  max-width: 100vw;
}
.content-section .promotion-area > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 0;
}
.content-section .promotion-area img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.content-section .promotion-container {
  border: 0px solid transparent;
  border-radius: 12px;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}
.content-section .right-area .promotion-container {
  height: 220px;
}

.content-section .right-area {
  gap: 9px;
}

.content-section .left-area .promotion-content-left {
  width: 158.609375px;
  height: 251.75px;
  margin-top: 44px;
  margin-left: 49px;
  display: flex;
  flex-direction: column;
}
.content-section .left-area .promotion-content-left h3 {
  font-family: "Quattrocento";
  font-weight: 700;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  color: var(--beyaz);
}
.content-section .left-area .promotion-content-left p {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 26.76px;
  letter-spacing: 0;
  margin: 5px 0;
  width: 275px;
  height: 27px;
  color: var(--beyaz);
}

.content-section .order-button {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  color: var(--kirmizi);
  background: var(--beyaz);
  text-decoration: none;
  margin-top: 20px;
  width: 138px;
  height: 48px;
  border-radius: 50px;
}

.content-section .right-area .promotion-content {
  margin-top: 28.5px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}

.content-section .right-top-promotion-area h3 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  margin: 0;
  color: var(--beyaz);
}
.content-section .right-bottom-promotion-area h3 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  margin: 0;
  color: var(--siyah);
}
.content-section .right-bottom-promotion-area span {
  color: var(--kirmizi);
}
/*Promotions end*/
/*content text start*/
.content-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  gap: 8px;
}
.content-text-area span {
  font-family: "Satisfy";
  font-weight: 400;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0;
  text-align: center;
  color: var(--kirmizi);
}
.content-text-area h2 {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}
.content-text-area br {
  display: none;
}

/*content text end*/
/*content options start*/

.content-options-area {
  display: flex;
  justify-content: center;
  max-width: 1068px;
  width: 100%;
  margin: 0 auto;
}

.content-options-area ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 22.39px;
  padding: 0;

  max-width: 1068px;
  width: 100%;
}
.content-options-area li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 50px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background: var(--beyaz);

  color: var(--koyu-gri);
  align-items: center;
}
.content-options-area li.selected {
  background: var(--koyu-gri);
  color: var(--beyaz);
}
.content-options-area li:hover {
  background: var(--koyu-gri);
  color: var(--beyaz);
}
.content-options-area img {
  width: 42px;
  height: 42px;
}
.content-options-area span {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  text-align: center;
}

/*content options end*/
/*product area start*/

.product-area {
  margin: 0 auto;
  max-width: 1068px;
  height: 430px;
  gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
.product-area .product {
  background: var(--beyaz);
  height: 419px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 24px;
}
.product-area .product .product-frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 24px;
  margin: 32px;
}
.product-area .product img {
  max-width: 270.67px;
  width: 100%;
}
.product-area .product-text-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.product-area .product-text-area .product-name {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
  letter-spacing: 0;
  margin: 0;
}
.product-area .product-detail-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-area .product-rating {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1b1b1bb2;
}
.product-area .product-price-comment-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  align-content: center;
}

.product-area .product-price-comment-area .comment-count {
  font-family: "Barlow";
  font-weight: 600;
  font-style: "SemiBold";
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  color: #1b1b1bb2;
}
.product-area .product-price-comment-area .price {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.76px;
  letter-spacing: 0;
  text-align: right;
  color: var(--koyu-gri);
}
/*product area end*/
/*Content section end*/

/*footer start*/
footer {
  background: #1a1a1a;
  color: var(--beyaz);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 64px;
}
footer .footer-top {
  max-width: 1066px;
  justify-content: space-between;
  margin: 58px auto;
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-left {
  display: flex;
  gap: 51px;
}

footer .footer-left h2 {
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0;
  vertical-align: middle;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 40.5px;
}
footer .footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  max-width: 306px;
}
footer .footer-contact li {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  vertical-align: middle;
  display: flex;
}
footer .footer-contact li img {
  width: 28px;
  height: 28px;
  margin-right: 13px;
}
footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 28.09px;
  justify-content: end;
  margin-bottom: 22.02px;
}
footer .footer-menu h3 {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0;
}
footer .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 7.39px;
  padding-top: 2px;
  padding-bottom: 5.39px;
  margin: 0;
}
footer .footer-menu li {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0;
  vertical-align: middle;
}
footer .footer-right {
  display: flex;
  flex-direction: column;
  height: 332px;
  gap: 40px;
  margin: 29.18px 0;
  justify-content: end;
}
footer .footer-right h4 {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
  letter-spacing: 0;
  vertical-align: middle;

  margin: 0;
}
footer .footer-right ul {
  display: flex;
  width: 347px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15.5px;
  row-gap: 10.5px;
  margin: 0;
}
footer .footer-right li {
  width: 105px;
  height: 105px;
}
footer .footer-right li img {
  width: 100%;
}

footer .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
footer .footer-bottom .footer-bottom-frame {
  max-width: 1068px;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

footer .footer-bottom img {
  width: 18px;
  height: 18px;
  filter: invert(100%);
}
footer .footer-bottom span {
  font-family: "Barlow", regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  letter-spacing: 0;
  vertical-align: middle;
}
/*footer end*/
@media (max-width: 1023px) {
.banner-header{
  margin-top: 126px;
  margin-bottom: 40px;
}
  .banner-text-area{
    width: unset;
    height: unset;
  }
  .banner-text-area .banner-text {
    width: unset;
    height: unset;
}
  .banner-text-area .banner-text p{
    width: min-content;
    height: unset;
}
  .banner-text-area .banner-text span{
   display: none;
}
.banner-text-area a {

    margin-top: 41px;
}
  .main-banner .image-area {
    height: 100vh;
;
  }
  .main-banner .image-area .main-banner-image {
    height: 100vh;
    min-height: unset;
  }

  .main-banner .main-banner-options {
    height: 268px;
    padding: auto 0px;
  }

  .main-banner .main-banner-options ul {
    flex-wrap: wrap;

    width: 411.65625px;
    height: 248px;
    gap: 41px;
    row-gap: 29px;
  }
  .main-banner .main-banner-options li {
    width: 45%;
  }

  .content-section .promotion-area {
    flex-wrap: wrap;
    width: 422px;
    row-gap: 16px;
    height: auto;

  }

 .content-section .left-area.promotion-container{
  height: 336px;
 }
  .content-section .promotion-area .right-area {
  width: 100%;
 }
.content-section .right-area .promotion-container {
    height: 270px;
}
.content-section .right-area .promotion-container {
    height: 270px;
}

.content-text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
            margin: 0 auto;
    width: 395px;
height: 229px;
gap: 15px;

}
.content-text-area br{
  display: block;
}

  .content-options-area {
    width: 378px;
height: 278px;
margin-top: 53px;

  }
    .content-options-area ul{
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .product-area{
    flex-wrap: wrap;
    height: auto;
    width: 420px;
    row-gap: 24px;
  }
    .product-area .product{
    height: 526px;
    width: 100%;
    margin: 0;
  }
.product-area .product img {
    max-width: unset;
}


 footer .footer-top {

           flex-direction: column;
        margin: 0 auto;
        max-width: 412px;
        margin-top: 81px;
}
footer .footer-left {
     flex-direction: column;
}

 footer .footer-bottom {

          
        max-width: 412px;
        margin: 0 auto;
}
}
